@charset "utf-8";

@media screen and (min-width: 320px) and (max-width: 1024px) {


	.brand-logo {align-content: center!important;}

	.container {margin-top: 4rem!important;}

}

/*-- MÓVEL VERTICAL --*/
@media screen and (min-width: 320px) and (max-width: 479px) {

	h2 {
		text-align: center!important;
		margin-top: 7rem!important;
		margin-bottom: 4rem!important;
	}

}

@media screen and (min-width: 768px) and (max-width: 1024px) {

	h2 {
		margin-top: 6rem!important;
		margin-bottom: 5rem!important;
	}

}

/*-- MÓVEL HORIZONTAL--*/
@media screen and (min-width: 480px) and (max-width: 736px) {

	h2, h3 {
		text-align: center!important;
		margin-top: 11rem!important;
		margin-bottom: 0rem!important;
	}

}

/*--15 A 20"--*/
@media screen and (min-width: 1280px) and (max-width: 1440px) {

	h2, h3 {
		margin-top: 11rem!important;
		margin-bottom: 0rem!important;
	}

}

@media screen and (min-width: 1440px) and (max-width: 1600px) {

	h2, h3 {
		margin-top: 7rem!important;
		margin-bottom: 4rem!important;
	}

}
