@charset "utf-8";
@font-face {
	font-family: 'Futura Bold Condensed BT';
	src: url( ../fonts/futura-bold-condensed-bt.eot);
	src: url(../fonts/futura-bold-condensed-bt.eot?#iefix) format('embedded-opentype'), url(../fonts/futura-bold-condensed-bt.woff) format('woff'), url(../fonts/futura-bold-condensed-bt.ttf) format('truetype'), url(../fonts/futura-bold-condensed-bt.svg#futura_boldcondensedbt) format('svg');
}
@font-face {
	font-family: 'Futura Extra Black Condensed BT';
	src: url( ../fonts/futura-xblkcn-bt.eot);
	src: url(../fonts/futura-xblkcn-bt.eot?#iefix) format('embedded-opentype'), url(../fonts/futura-xblkcn-bt.woff) format('woff'), url(../fonts/futura-xblkcn-bt.ttf) format('truetype'), url(../fonts/futura-xblkcn-bt.svg#futura_xblkcnbt) format('svg');
}
@font-face {
	font-family: 'Futura Book BT';
	src: url( ../fonts/futura-book-bt.eot);
	src: url(../fonts/futura-book-bt.eot?#iefix) format('embedded-opentype'), url(../fonts/futura-book-bt.woff) format('woff'), url(../fonts/futura-book-bt.ttf) format('truetype'), url(../fonts/futura-book-bt.svg#futura_ltcnbt) format('svg');
}
body, html {
	background-color: #008aae;
	color: #787878;
}
tr {
	border-bottom: 1px solid rgba(255,255,255,0.12)!important;
}
td, th {
	font-size: 1.1rem!important; /*display: inline-block!important*/
	;
}
h1, h2, h3 {
	color: #FFFFFF;
	margin-bottom: 3rem!important;
	font-family: 'Roboto', Arial!important;
}
h4 {
	font-family: 'Futura Bold Condensed BT', 'Roboto', Arial!important;
	margin-top: 1rem!important;
}
h6 {
	font-size: 1.4rem!important;
}
label {
	color: #FFFFFF!important;
}
.brand-logo {
	padding: 2rem!important;
	font-weight: bold!important;
}
img.responsive-img {
	max-width: 80%!important;
}
/*
.page-footer {
	position: absolute;
	bottom: 0px;
	width: 100%;
}*/

.container {
	color: #FFFFFF!important;
}
.msg {
	position: absolute;
	min-width: 200px;
	min-height: 50px;
	background-color: #b2ebf2;
	top: 80%;
	right: 20%;
	border-radius: 0px;
	/*box-shadow: 3px 2px 10px 1px #ccc;*/
	/*border: 1px groove #ccc;*/
	font-weight: bolder;
	padding: 10px;
	text-align: center;
	display: none;
	z-index: 5;
}
.nav-wrapper, .page-footer {
	background-color: #008aae;
}
.btn {
	font-family: 'Futura Bold Condensed BT', 'Roboto', Arial!important;
	background-color: #00b975!important;
	box-shadow: none!important;
	font-size: 1.7rem!important;
	height: auto!important;
	padding: 0.4rem 0.6rem!important;
	text-transform: none!important;
	color: #FFF!important;
	border-radius: 7px 7px 7px 7px;
	-moz-border-radius: 7px 7px 7px 7px;
	-webkit-border-radius: 7px 7px 7px 7px;
	word-break: break-all!important;
	border: 0px solid #000000;
}
.btn:hover {
	background-color: #43a047!important;
	color: #FFF!important;
	text-decoration: none!important;
}
.btn2 {
	font-family: 'Futura Bold Condensed BT', 'Roboto', Arial!important;
	background-color: #f9a825!important;
	box-shadow: none!important;
	font-size: 1.7rem!important;
	height: auto!important;
	padding: 0.6rem!important;
	text-transform: capitalize!important;
	color: #FFF!important;
	border-radius: 7px 7px 7px 7px;
	-moz-border-radius: 7px 7px 7px 7px;
	-webkit-border-radius: 7px 7px 7px 7px;
	word-break: break-all!important;
	border: 0px solid #000000;
}
.btn2:hover {
	background-color: #ff6f00!important;
	color: #FFF!important;
	text-decoration: none!important;
}
.btn3 {
	font-family: 'Futura Bold Condensed BT', 'Roboto', Arial!important;
	background-color: #f9a825!important;
	box-shadow: none!important;
	font-size: 1.7rem!important;
	height: auto!important;
	padding: 0.4rem 0.6rem!important;
	text-transform: capitalize!important;
	color: #FFF!important;
	border-radius: 7px 7px 7px 7px;
	-moz-border-radius: 7px 7px 7px 7px;
	-webkit-border-radius: 7px 7px 7px 7px;
	word-break: break-all!important;
	border: 0px solid #000000;
}
.btn3:hover {
	background-color: #ff6f00!important;
	color: #FFF!important;
	text-decoration: none!important;
}
i.medium {
	font-size: 2.5rem !important;
}
.page-footer .footer-copyright {
	background-color: #008aae!important;
}
nav {
	background-color: #008aae!important;
	box-shadow: none!important;
}
.card {
	box-shadow: none!important;
}
.card-content {
	background-color: #008aae!important;
}
.card .card-content {
	border-radius: 0px!important;
	margin-top: 4rem!important;
}
.card .card-action:last-child {
	border-radius: 0px!important;
}
.card .card-action {
	background-color: #008aae!important;
	border-top: 0px solid #64b5f6!important;
}
input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
	border-bottom: 1px solid #FFFFFF!important;
	color: #FFFFFF!important;
	box-shadow: 0px!important;
}
input[type=text]:not(.browser-default):disabled, input.valid[type=text]:not(.browser-default), input.invalid[type=email]:not(.browser-default), .valid {
	color: #90caf9!important;
}
a.Link {
	color: #ffb40e!important;
	text-decoration: none!important;
}
a.Link:hover {
	color: #ffb40e!important;
	text-decoration: underline!important;
}
a.Rodape {
	color: #ffb40e!important;
	text-decoration: none!important;
}
a.Rodape:hover {
	color: #ffb40e!important;
	text-decoration: underline!important;
}
.Top {
	margin-top: 3rem!important;
}
.Bottom {
	margin-bottom: 2rem!important;
}
.select-wrapper input.select-dropdown, .select-dropdown, .dropdown-trigger {
	color: #FFFFFF!important;
}
.caret {
	fill: #FFFFFF!important;
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
	margin-right: 0px!important;
	margin-bottom: 2rem!important;
}
input.valid:not([type]), input.valid:not([type]):focus, input.valid[type=text]:not(.browser-default), input.valid[type=text]:not(.browser-default):focus, input.valid[type=password]:not(.browser-default), input.valid[type=password]:not(.browser-default):focus, input.valid[type=email]:not(.browser-default), input.valid[type=email]:not(.browser-default):focus, input.valid[type=url]:not(.browser-default), input.valid[type=url]:not(.browser-default):focus, input.valid[type=time]:not(.browser-default), input.valid[type=time]:not(.browser-default):focus, input.valid[type=date]:not(.browser-default), input.valid[type=date]:not(.browser-default):focus, input.valid[type=datetime]:not(.browser-default), input.valid[type=datetime]:not(.browser-default):focus, input.valid[type=datetime-local]:not(.browser-default), input.valid[type=datetime-local]:not(.browser-default):focus, input.valid[type=tel]:not(.browser-default), input.valid[type=tel]:not(.browser-default):focus, input.valid[type=number]:not(.browser-default), input.valid[type=number]:not(.browser-default):focus, input.valid[type=search]:not(.browser-default), input.valid[type=search]:not(.browser-default):focus, textarea.materialize-textarea.valid, textarea.materialize-textarea.valid:focus, .select-wrapper.valid>input.select-dropdown {
	border-bottom: 1px solid #FFFFFF!important;
	-webkit-box-shadow: 0 0px 0 0 #4CAF50!important;
	box-shadow: 0 0px 0 0 #4CAF50!important;
}
.PassoAtiv {
	font-family: 'Futura Bold Condensed BT', 'Roboto', Arial!important;
	font-size: 1.5rem;
	word-break: keep-all;
}
.PassoDes {
	ont-family: 'Futura Bold Condensed BT', 'Roboto', Arial!important;
	font-size: 1.5rem;
	word-break: keep-all;
	opacity: 0.5;
}
[type="checkbox"]:checked+span:not(.lever):before {
	border-right: 2px solid #FFFFFF!important;
	border-bottom: 2px solid #FFFFFF!important;
}
.Corllet [type="checkbox"]+span:not(.lever) {
	background-color: #FFFFFF!important;
	padding-left: 19px!important;
	height: 20px!important;
}
input [type="radio"] {
	background-color: #FFFFFF!important;
	height: 20px!important;
	padding-left: 19px!important;
}
[type="checkbox"].filled-in:not(:checked)+span:not(.lever):after {
	border: 1px solid #FFFFFF!important;
}
[type="checkbox"].filled-in:checked+span:not(.lever):after {
	border: 1px solid #f9a825!important;
	background-color: #f9a825!important;
}
.Corllet [type="checkbox"].filled-in:checked+span:not(.lever):after {
	border: 2px solid #ff6f00!important;
	background-color: #ff6f00/*#26a69a*/!important;
}
.Corllet [type="checkbox"].filled-in:not(:checked)+span:not(.lever):after {
	border: 2px solid #5a5a5a!important;
}
[type="radio"]:not(:checked)+span:before, [type="radio"]:not(:checked)+span:after {
	border: 1px solid #FFFFFF!important;
}
[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after {
	border: 0px solid #FFFFFF!important;
}
[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after {
	background-color: #f9a825!important;
}
.Corllet {
	margin: 0 auto;
	position: relative;
	width: 365px;
	height: 482px;
	background: url(../img/corllet.jpg);
	background-repeat: no-repeat;
	border-radius: 100px;
	z-index: 0
}
.input-field.col label {
	font-size: 1rem!important;
}
.switch label {
	font-size: 1rem!important;
}
.switch label input[type=checkbox]:checked+.lever {
	background-color: rgba(249,168,37,0.5)!important;
}
.switch label input[type=checkbox]:checked+.lever:after {
	background-color: #f9a825!important;
}

::-webkit-input-placeholder {
color:rgba(255,255,255,0.3)!important;
}
::-moz-placeholder {
color:rgba(255,255,255,0.3)!important;
}
:-ms-input-placeholder {
color:rgba(255,255,255,0.3)!important;
}
::-ms-input-placeholder {
color:rgba(255,255,255,0.3)!important;
}
::placeholder {
color:rgba(255,255,255,0.3)!important;
}
[type="checkbox"]+span:not(.lever):before, [type="checkbox"]:not(.filled-in)+span:not(.lever):after {
	border: 2px solid rgba(255,255,255,1);
}
.dropdown-content {
	background: #008aae
}
.dropdown-content li>a, .dropdown-content li>span {
	color: white;
}

.collapsible-header {
	background-color: #008aae; 
}

.chips, .focus{
	border-bottom: 1px solid #fff;
}
