<?php include_once( 'cabecalho.php' );?>

<br>
<div class="container">
	<div class="row">
		<form class="col s12" action="" method="post" enctype="multipart/form-data">
			<div class="row">
				<div class="col s12 m12 l12">					
					<h2>Ergonomia</h2>					
				</div>
			</div>
			
			<div class="row">
				
				<input class="hide" type="text" name="id" value="">	
				
				<div class="input-field col s12 m2">
					<input id="Funcao" type="text" class="validate" name="funcao" value="">
					<label for="Funcao">Função</label>
				</div>
				
				<div class="input-field col s12 m3">
					<input id="Nivel" type="text" class="validate" name="nivel" value="">
					<label for="Nivel">Nível de Escolaridade</label>
				</div>
				
				<div class="input-field col s12 m1">
					<input id="Idade" type="text" class="validate" name="idade" value="">
					<label for="Idade">Idade</label>
				</div>
				
				<div class="input-field col s12 m3">
					<input id="PNE" type="text" class="validate" name="pne" value="">
					<label for="PNE">PNE</label>
				</div>
				
				<div class="input-field col s12 m3">
					<input id="Media" type="text" class="validate" name="media" value="">
					<label for="Media">Média de Horas Extras</label>
				</div>
				
			</div>
			
			
			
			
			
			<div class="row">
				<div class="col s12 m10">
					 <h6>Você considera que a empresa dá condições de se conseguir os resultados que são cobrados?</h6>
				</div>
				
				<div class="input-field col s12 m2"> 
					<select name="lado" >
						<option value="0" disabled selected>Selecione</option>
						<option value="1">Sim</option>
						<option value="2">Não</option>
						<option value="3">N/A</option>
					
					</select>
					
				</div>
			</div>
			
			<div class="row">
				<div class="col s12 m10">
					 <h6>Os sistemas são os adequados para se fazer a atividade que lhe é cobrada?</h6>
				</div>
				
				<div class="input-field col s12 m2"> 
					<select name="lado" >
						<option value="0" disabled selected>Selecione</option>
						<option value="1">Sim</option>
						<option value="2">Não</option>
						<option value="3">N/A</option>
					
					</select>
					
				</div>
			</div>
			
			<div class="row">
				<div class="col s12 m10">
					 <h6>As máquinas são as adequadas para se fazer a atividade que lhe é cobrada?</h6>
				</div>
				
				<div class="input-field col s12 m2"> 
					<select name="lado" >
						<option value="0" disabled selected>Selecione</option>
						<option value="1">Sim</option>
						<option value="2">Não</option>
						<option value="3">N/A</option>
					
					</select>
					
				</div>
			</div>
			
			<div class="row">
				<div class="col s12 m10">
					 <h6>Há material adequado para a realização do trabalho?</h6>
				</div>
				
				<div class="input-field col s12 m2"> 
					<select name="lado" >
						<option value="0" disabled selected>Selecione</option>
						<option value="1">Sim</option>
						<option value="2">Não</option>
						<option value="3">N/A</option>
					
					</select>
					
				</div>
			</div>
			
			<div class="row">
				<div class="col s12 m10">
					 <h6>Você considera os métodos existentes na empresa para se conseguir os resultados adequados?</h6>
				</div>
				
				<div class="input-field col s12 m2"> 
					<select name="lado" >
						<option value="0" disabled selected>Selecione</option>
						<option value="1">Sim</option>
						<option value="2">Não</option>
						<option value="3">N/A</option>
					
					</select>
					
				</div>
			</div>
			
			<div class="row">
				<div class="col s12 m10">
					 <h6>Você considera adequado os indicadores de desempenho existentes?</h6>
				</div>
				
				<div class="input-field col s12 m2"> 
					<select name="lado" >
						<option value="0" disabled selected>Selecione</option>
						<option value="1">Sim</option>
						<option value="2">Não</option>
						<option value="3">N/A</option>
					
					</select>
					
				</div>
			</div>
			
			<div class="row">
				<div class="col s12 m10">
					 <h6>Existirem tempos pré- determinados para a execução da tarefa ou desempenho baseado em números é algo que lhe incomoda?</h6>
				</div>
				
				<div class="input-field col s12 m2"> 
					<select name="lado" >
						<option value="0" disabled selected>Selecione</option>
						<option value="1">Sim</option>
						<option value="2">Não</option>
						<option value="3">N/A</option>
					
					</select>
					
				</div>
			</div>
			
			<div class="row">
				<div class="col s12 m10">
					 <h6>Você considera que, em geral, a empresa funciona bem?</h6>
				</div>
				
				<div class="input-field col s12 m2"> 
					<select name="lado" >
						<option value="0" disabled selected>Selecione</option>
						<option value="1">Sim</option>
						<option value="2">Não</option>
						<option value="3">N/A</option>
					
					</select>
					
				</div>
			</div>
			
			<div class="row">
				<div class="col s12 m10">
					 <h6>Você considera que seu treinamento para a função foi o adequado?</h6>
				</div>
				
				<div class="input-field col s12 m2"> 
					<select name="lado" >
						<option value="0" disabled selected>Selecione</option>
						<option value="1">Sim</option>
						<option value="2">Não</option>
						<option value="3">N/A</option>
					
					</select>
					
				</div>
			</div>
			
			<div class="row">
				<div class="col s12 m10">
					 <h6>Ocorrem erros por falta de comunicação?</h6>
				</div>
				
				<div class="input-field col s12 m2"> 
					<select name="lado" >
						<option value="0" disabled selected>Selecione</option>
						<option value="1">Sim</option>
						<option value="2">Não</option>
						<option value="3">N/A</option>
					
					</select>
					
				</div>
			</div>
			
			<div class="row">
				<div class="col s12 m10">
					 <h6>Há pessoal em número suficiente para o trabalho a ser feito?</h6>
				</div>
				
				<div class="input-field col s12 m2"> 
					<select name="lado" >
						<option value="0" disabled selected>Selecione</option>
						<option value="1">Sim</option>
						<option value="2">Não</option>
						<option value="3">N/A</option>
					
					</select>
					
				</div>
			</div>
			
			<div class="row">
				<div class="col s12 m10">
					 <h6>Em épocas de produção maior, há recursos humanos para executá-la?</h6>
				</div>
				
				<div class="input-field col s12 m2"> 
					<select name="lado" >
						<option value="0" disabled selected>Selecione</option>
						<option value="1">Sim</option>
						<option value="2">Não</option>
						<option value="3">N/A</option>
					
					</select>
					
				</div>
			</div>
			
			<div class="row">
				<div class="col s12 m10">
					 <h6>Seus colegas consideram as chefias da empresa seguras e capazes?</h6>
				</div>
				
				<div class="input-field col s12 m2"> 
					<select name="lado" >
						<option value="0" disabled selected>Selecione</option>
						<option value="1">Sim</option>
						<option value="2">Não</option>
						<option value="3">N/A</option>
					
					</select>
					
				</div>
			</div>
			
			<div class="row">
				<div class="col s12 m10">
					 <h6>Durante o seu trabalho você costuma ter um ritmo puxado do início ao fim?</h6>
				</div>
				
				<div class="input-field col s12 m2"> 
					<select name="lado" >
						<option value="0" disabled selected>Selecione</option>
						<option value="1">Sim</option>
						<option value="2">Não</option>
						<option value="3">N/A</option>
					
					</select>
					
				</div>
			</div>
			
			<div class="row">
				<div class="col s12 m10">
					 <h6>Você participa da organização do trabalho?</h6>
				</div>
				
				<div class="input-field col s12 m2"> 
					<select name="lado" >
						<option value="0" disabled selected>Selecione</option>
						<option value="1">Sim</option>
						<option value="2">Não</option>
						<option value="3">N/A</option>
					
					</select>
					
				</div>
			</div>
			
			<div class="row">
				<div class="col s12 m10">
					 <h6>Você se considera bem remunerado?</h6>
				</div>
				
				<div class="input-field col s12 m2"> 
					<select name="lado" >
						<option value="0" disabled selected>Selecione</option>
						<option value="1">Sim</option>
						<option value="2">Não</option>
						<option value="3">N/A</option>
					
					</select>
					
				</div>
			</div>
			
			<div class="row">
				<div class="col s12 m10">
					 <h6>Você se identificou com o trabalho que faz nesta empresa?</h6>
				</div>
				
				<div class="input-field col s12 m2"> 
					<select name="lado" >
						<option value="0" disabled selected>Selecione</option>
						<option value="1">Sim</option>
						<option value="2">Não</option>
						<option value="3">N/A</option>
					
					</select>
					
				</div>
			</div>
			
			<div class="row">
				<div class="col s12 m10">
					 <h6>Você se identificou com o trabalho que faz nesta empresa?</h6>
				</div>
				
				<div class="input-field col s12 m2"> 
					<select name="lado" >
						<option value="0" disabled selected>Selecione</option>
						<option value="1">Sim</option>
						<option value="2">Não</option>
						<option value="3">N/A</option>
					
					</select>
					
				</div>
			</div>
			
			<div class="row">
				<div class="col s12 m10">
					 <h6>Você enxerga melhores perspectivas profissionais para a sua vida?</h6>
				</div>
				
				<div class="input-field col s12 m2"> 
					<select name="lado" >
						<option value="0" disabled selected>Selecione</option>
						<option value="1">Sim</option>
						<option value="2">Não</option>
						<option value="3">N/A</option>
					
					</select>
					
				</div>
			</div>
			
			<div class="row">
				<div class="col s12 m10">
					 <h6>Você se sente integrado nessa empresa?</h6>
				</div>
				
				<div class="input-field col s12 m2"> 
					<select name="lado" >
						<option value="0" disabled selected>Selecione</option>
						<option value="1">Sim</option>
						<option value="2">Não</option>
						<option value="3">N/A</option>
					
					</select>
					
				</div>
			</div>
			
			<div class="row">
				<div class="col s12 m10">
					 <h6>Houve alguma mudança que tenha determinado alguma alteração importante na sua visão de seu trabalho?</h6>
				</div>
				
				<div class="input-field col s12 m2"> 
					<select name="lado" >
						<option value="0" disabled selected>Selecione</option>
						<option value="1">Sim</option>
						<option value="2">Não</option>
						<option value="3">N/A</option>
					
					</select>
					
				</div>
			</div>
			
			<div class="row">
				<div class="col s12 m10">
					 <h6>Você tem autonomia para executar o seu trabalho?</h6>
				</div>
				
				<div class="input-field col s12 m2"> 
					<select name="lado" >
						<option value="0" disabled selected>Selecione</option>
						<option value="1">Sim</option>
						<option value="2">Não</option>
						<option value="3">N/A</option>
					
					</select>
					
				</div>
			</div>
			
			<div class="row">
				<div class="col s12 m10">
					 <h6>Você participa da elaboração e/ou modificação das regras em seu trabalho?</h6>
				</div>
				
				<div class="input-field col s12 m2"> 
					<select name="lado" >
						<option value="0" disabled selected>Selecione</option>
						<option value="1">Sim</option>
						<option value="2">Não</option>
						<option value="3">N/A</option>
					
					</select>
					
				</div>
			</div>
			
			<div class="row">
				<div class="col s12 m10">
					 <h6>Você se relaciona bem com seus colegas de trabalho?</h6>
				</div>
				
				<div class="input-field col s12 m2"> 
					<select name="lado" >
						<option value="0" disabled selected>Selecione</option>
						<option value="1">Sim</option>
						<option value="2">Não</option>
						<option value="3">N/A</option>
					
					</select>
					
				</div>
			</div>
			
			<div class="row">
				<div class="col s12 m10">
					 <h6>Você se relaciona bem com seus chefes?</h6>
				</div>
				
				<div class="input-field col s12 m2"> 
					<select name="lado" >
						<option value="0" disabled selected>Selecione</option>
						<option value="1">Sim</option>
						<option value="2">Não</option>
						<option value="3">N/A</option>
					
					</select>
					
				</div>
			</div>
			
			<div class="row">
				<div class="col s12 m10">
					 <h6>Existem situações de desrespeito no seu ambiente de trabalho?</h6>
				</div>
				
				<div class="input-field col s12 m2"> 
					<select name="lado" >
						<option value="0" disabled selected>Selecione</option>
						<option value="1">Sim</option>
						<option value="2">Não</option>
						<option value="3">N/A</option>
					
					</select>
					
				</div>
			</div>
			
			<div class="row">
				<div class="col s12 m10">
					 <h6>A condição material para realizar o trabalho é suficiente?</h6>
				</div>
				
				<div class="input-field col s12 m2"> 
					<select name="lado" >
						<option value="0" disabled selected>Selecione</option>
						<option value="1">Sim</option>
						<option value="2">Não</option>
						<option value="3">N/A</option>
					
					</select>
					
				</div>
			</div>
			
			<div class="row">
				<div class="col s12 m10">
					 <h6>Ocorrem posições claramente distintas entre orientações das diversas chefias?</h6>
				</div>
				
				<div class="input-field col s12 m2"> 
					<select name="lado" >
						<option value="0" disabled selected>Selecione</option>
						<option value="1">Sim</option>
						<option value="2">Não</option>
						<option value="3">N/A</option>
					
					</select>
					
				</div>
			</div>
			
			<div class="row">
				<div class="col s12 m10">
					 <h6>Quando você encontra alguma dificuldade, você obtém ajuda adequada? Como?</h6>
				</div>
				
				<div class="input-field col s12 m2"> 
					<select name="lado" >
						<option value="0" disabled selected>Selecione</option>
						<option value="1">Sim</option>
						<option value="2">Não</option>
						<option value="3">N/A</option>
					
					</select>
					
				</div>
			</div>
			
			<div class="row">
				<div class="col s12 m10">
					 <h6>Você considera que tem possibilidade de expressar livremente suas dificuldades?</h6>
				</div>
				
				<div class="input-field col s12 m2"> 
					<select name="lado" >
						<option value="0" disabled selected>Selecione</option>
						<option value="1">Sim</option>
						<option value="2">Não</option>
						<option value="3">N/A</option>
					
					</select>
					
				</div>
			</div>
			
			<div class="row">
				<div class="col s12 m10">
					 <h6>É possível fazer as pausas previstas pela empresa?</h6>
				</div>
				
				<div class="input-field col s12 m2"> 
					<select name="lado" >
						<option value="0" disabled selected>Selecione</option>
						<option value="1">Sim</option>
						<option value="2">Não</option>
						<option value="3">N/A</option>
					
					</select>
					
				</div>
			</div>
			
			<div class="row">
				<div class="col s12 m10">
					 <h6>Você considera que, para fazer seu trabalho, você tem que estar tenso?</h6>
				</div>
				
				<div class="input-field col s12 m2"> 
					<select name="lado" >
						<option value="0" disabled selected>Selecione</option>
						<option value="1">Sim</option>
						<option value="2">Não</option>
						<option value="3">N/A</option>
					
					</select>
					
				</div>
			</div>
			
			
			
			
			
			<div class="row">
				<div class="input-field col s12">
				<textarea id="textarea1" class="materialize-textarea"></textarea>
				<label for="textarea1">Faça aqui suas observações</label>
				</div>
			</div>
			
			
			
			
			<div class="row">
				<div class="col s12">
					 <h5>Desconforto e/ou dores</h5>
				</div>
			</div>
			
			<div class="row">
				<div class="col s12">
				
					<div class="container-fluid">
						<div class="row">
							
							<div class="col-md-8 col-md-offset-2" style="min-height:495px;">
								
								<div id="#map" class="Corllet"></div>
								
							</div>
						</div>
					</div>				
				</div>
			</div>
			
			<div class="row">
				<div class="col s12 m10">
					 <h6>1 - Cabeça</h6>
				</div>
				
				<div class="col s12 m2"> 
					<select name="lado" >
						<option value="0" disabled selected>Selecione</option>
						<option value="1">Baixa</option>
						<option value="2">Média</option>
						<option value="3">Severa</option>
					
					</select>
					
				</div>
			</div>
			
			<div class="row">
				<div class="col s12 m10">
					 <h6>2 - Cervical</h6>
				</div>
				
				<div class="col s12 m2"> 
					<select name="lado" >
						<option value="0" disabled selected>Selecione</option>
						<option value="1">Baixa</option>
						<option value="2">Média</option>
						<option value="3">Severa</option>
					
					</select>
					
				</div>
			</div>
			
			<div class="row">
				<div class="col s12 m10">
					 <h6>3 - Torácica</h6>
				</div>
				
				<div class="col s12 m2"> 
					<select name="lado" >
						<option value="0" disabled selected>Selecione</option>
						<option value="1">Baixa</option>
						<option value="2">Média</option>
						<option value="3">Severa</option>
					
					</select>
					
				</div>
			</div>
			
			<div class="row">
				<div class="col s12 m10">
					 <h6>4 - Lombar</h6>
				</div>
				
				<div class="col s12 m2"> 
					<select name="lado" >
						<option value="0" disabled selected>Selecione</option>
						<option value="1">Baixa</option>
						<option value="2">Média</option>
						<option value="3">Severa</option>
					
					</select>
					
				</div>
			</div>
			
			<div class="row">
				<div class="col s12 m10">
					 <h6>5 - Quadril</h6>
				</div>
				
				<div class="col s12 m2"> 
					<select name="lado" >
						<option value="0" disabled selected>Selecione</option>
						<option value="1">Baixa</option>
						<option value="2">Média</option>
						<option value="3">Severa</option>
					
					</select>
					
				</div>
			</div>
			
			<div class="row">
				<div class="col s12 m10">
					 <h6>6 - Ombro Direito</h6>
				</div>
				
				<div class="col s12 m2"> 
					<select name="lado" >
						<option value="0" disabled selected>Selecione</option>
						<option value="1">Baixa</option>
						<option value="2">Média</option>
						<option value="3">Severa</option>
					
					</select>
					
				</div>
			</div>
			
			<div class="row">
				<div class="col s12 m10">
					 <h6>7 - Braço Direito</h6>
				</div>
				
				<div class="col s12 m2"> 
					<select name="lado" >
						<option value="0" disabled selected>Selecione</option>
						<option value="1">Baixa</option>
						<option value="2">Média</option>
						<option value="3">Severa</option>
					
					</select>
					
				</div>
			</div>
			
			<div class="row">
				<div class="col s12 m10">
					 <h6>8 - Cotovelo Direito</h6>
				</div>
				
				<div class="col s12 m2"> 
					<select name="lado" >
						<option value="0" disabled selected>Selecione</option>
						<option value="1">Baixa</option>
						<option value="2">Média</option>
						<option value="3">Severa</option>
					
					</select>
					
				</div>
			</div>
			
			<div class="row">
				<div class="col s12 m10">
					 <h6>9 - Antebraço direito</h6>
				</div>
				
				<div class="col s12 m2"> 
					<select name="lado" >
						<option value="0" disabled selected>Selecione</option>
						<option value="1">Baixa</option>
						<option value="2">Média</option>
						<option value="3">Severa</option>
					
					</select>
					
				</div>
			</div>
			
			<div class="row">
				<div class="col s12 m10">
					 <h6>10 - Punho Direito</h6>
				</div>
				
				<div class="col s12 m2"> 
					<select name="lado" >
						<option value="0" disabled selected>Selecione</option>
						<option value="1">Baixa</option>
						<option value="2">Média</option>
						<option value="3">Severa</option>
					
					</select>
					
				</div>
			</div>
			
			<div class="row">
				<div class="col s12 m10">
					 <h6>11 - Mão e Dedos Direitos</h6>
				</div>
				
				<div class="col s12 m2"> 
					<select name="lado" >
						<option value="0" disabled selected>Selecione</option>
						<option value="1">Baixa</option>
						<option value="2">Média</option>
						<option value="3">Severa</option>
					
					</select>
					
				</div>
			</div>
			
			<div class="row">
				<div class="col s12 m10">
					 <h6>12 - Coxa Direita</h6>
				</div>
				
				<div class="col s12 m2"> 
					<select name="lado" >
						<option value="0" disabled selected>Selecione</option>
						<option value="1">Baixa</option>
						<option value="2">Média</option>
						<option value="3">Severa</option>
					
					</select>
					
				</div>
			</div>
			
			<div class="row">
				<div class="col s12 m10">
					 <h6>13 - Joelho Direito</h6>
				</div>
				
				<div class="col s12 m2"> 
					<select name="lado" >
						<option value="0" disabled selected>Selecione</option>
						<option value="1">Baixa</option>
						<option value="2">Média</option>
						<option value="3">Severa</option>
					
					</select>
					
				</div>
			</div>
			
			<div class="row">
				<div class="col s12 m10">
					 <h6>14 - Perna Direita</h6>
				</div>
				
				<div class="col s12 m2"> 
					<select name="lado" >
						<option value="0" disabled selected>Selecione</option>
						<option value="1">Baixa</option>
						<option value="2">Média</option>
						<option value="3">Severa</option>
					
					</select>
					
				</div>
			</div>
			
			<div class="row">
				<div class="col s12 m10">
					 <h6>15 - Tornozelo Direito</h6>
				</div>
				
				<div class="col s12 m2"> 
					<select name="lado" >
						<option value="0" disabled selected>Selecione</option>
						<option value="1">Baixa</option>
						<option value="2">Média</option>
						<option value="3">Severa</option>
					
					</select>
					
				</div>
			</div>
			
			<div class="row">
				<div class="col s12 m10">
					 <h6>16 - Pé e Dedos Direitos</h6>
				</div>
				
				<div class="col s12 m2"> 
					<select name="lado" >
						<option value="0" disabled selected>Selecione</option>
						<option value="1">Baixa</option>
						<option value="2">Média</option>
						<option value="3">Severa</option>
					
					</select>
					
				</div>
			</div>
			
			<div class="row">
				<div class="col s12 m10">
					 <h6>6 - Ombro Esquerdo</h6>
				</div>
				
				<div class="col s12 m2"> 
					<select name="lado" >
						<option value="0" disabled selected>Selecione</option>
						<option value="1">Baixa</option>
						<option value="2">Média</option>
						<option value="3">Severa</option>
					
					</select>
					
				</div>
			</div>
			
			<div class="row">
				<div class="col s12 m10">
					 <h6>7 - Braço Esquerdo</h6>
				</div>
				
				<div class="col s12 m2"> 
					<select name="lado" >
						<option value="0" disabled selected>Selecione</option>
						<option value="1">Baixa</option>
						<option value="2">Média</option>
						<option value="3">Severa</option>
					
					</select>
					
				</div>
			</div>
			
			<div class="row">
				<div class="col s12 m10">
					 <h6>8 - Cotovelo Esquerdo</h6>
				</div>
				
				<div class="col s12 m2"> 
					<select name="lado" >
						<option value="0" disabled selected>Selecione</option>
						<option value="1">Baixa</option>
						<option value="2">Média</option>
						<option value="3">Severa</option>
					
					</select>
					
				</div>
			</div>
			
			<div class="row">
				<div class="col s12 m10">
					 <h6>9 - Antebraço Esquerdo</h6>
				</div>
				
				<div class="col s12 m2"> 
					<select name="lado" >
						<option value="0" disabled selected>Selecione</option>
						<option value="1">Baixa</option>
						<option value="2">Média</option>
						<option value="3">Severa</option>
					
					</select>
					
				</div>
			</div>
			
			<div class="row">
				<div class="col s12 m10">
					 <h6>10 - Punho Esquerdo</h6>
				</div>
				
				<div class="col s12 m2"> 
					<select name="lado" >
						<option value="0" disabled selected>Selecione</option>
						<option value="1">Baixa</option>
						<option value="2">Média</option>
						<option value="3">Severa</option>
					
					</select>
					
				</div>
			</div>
			
			<div class="row">
				<div class="col s12 m10">
					 <h6>11 - Mão e Dedos Esquerdos</h6>
				</div>
				
				<div class="col s12 m2"> 
					<select name="lado" >
						<option value="0" disabled selected>Selecione</option>
						<option value="1">Baixa</option>
						<option value="2">Média</option>
						<option value="3">Severa</option>
					
					</select>
					
				</div>
			</div>
			
			<div class="row">
				<div class="col s12 m10">
					 <h6>12 - Coxa Esquerda</h6>
				</div>
				
				<div class="col s12 m2"> 
					<select name="lado" >
						<option value="0" disabled selected>Selecione</option>
						<option value="1">Baixa</option>
						<option value="2">Média</option>
						<option value="3">Severa</option>
					
					</select>
					
				</div>
			</div>
			
			<div class="row">
				<div class="col s12 m10">
					 <h6>13 - Joelho Esquerdo</h6>
				</div>
				
				<div class="col s12 m2"> 
					<select name="lado" >
						<option value="0" disabled selected>Selecione</option>
						<option value="1">Baixa</option>
						<option value="2">Média</option>
						<option value="3">Severa</option>
					
					</select>
					
				</div>
			</div>
			
			<div class="row">
				<div class="col s12 m10">
					 <h6>14 - Perna Esquerda</h6>
				</div>
				
				<div class="col s12 m2"> 
					<select name="lado" >
						<option value="0" disabled selected>Selecione</option>
						<option value="1">Baixa</option>
						<option value="2">Média</option>
						<option value="3">Severa</option>
					
					</select>
					
				</div>
			</div>
			
			<div class="row">
				<div class="col s12 m10">
					 <h6>15 - Tornozelo Esquerdo</h6>
				</div>
				
				<div class="col s12 m2"> 
					<select name="lado" >
						<option value="0" disabled selected>Selecione</option>
						<option value="1">Baixa</option>
						<option value="2">Média</option>
						<option value="3">Severa</option>
					
					</select>
					
				</div>
			</div>
			
			<div class="row">
				<div class="col s12 m10">
					 <h6>16 - Pé e Dedos Esquerdos</h6>
				</div>
				
				<div class="col s12 m2"> 
					<select name="lado" >
						<option value="0" disabled selected>Selecione</option>
						<option value="1">Baixa</option>
						<option value="2">Média</option>
						<option value="3">Severa</option>
					
					</select>
					
				</div>
			</div>
			
			
			
			
			
			<div class="row">
				<div class="input-field col s12">
				<textarea id="textarea1" class="materialize-textarea"></textarea>
				<label for="textarea1">Possui alguma doença Osteomuscular diagnosticada pelo médico?</label>
				</div>
			</div>
				
			
			<br>
			<div class="row">
					<div class="col s12">
						<p align="center"><a href="" class="waves-effect waves-light btn2">Enviar</a></p>
					</div>
			</div>	
		
				
		</form>
	</div>
</div>

<?php include_once('rodape.php'); ?>