<?php include_once( 'cabecalho.php' );?>

<br>
<div class="container">
	<div class="row">
		<form class="col s12" action="" method="post" enctype="multipart/form-data">
			<div class="row">
				<div class="col s12 m12 l12">					
					<h2>Qualidade de Vida</h2>					
				</div>
			</div>
			
			<div class="row">
				
			<input class="hide" type="text" name="id" value="">										
				
				<div class="input-field col s12 m3"> 
					<select name="sexo" >
						<option value="0" disabled selected>Selecione</option>
						<option value="1">Masculino</option>
						<option value="2">Feminino</option>
						<option value="3">Outro</option>
					
					</select>
					<label>Sexo:</label>
				</div>
				
				<div class="input-field col s12 m3">
					<input id="Idade" type="text" class="validate" name="idade" value="">
					<label for="Idade">Idade</label>
				</div>
				
				<div class="input-field col s12 m3">
					<input id="Peso" type="text" class="validate" name="peso" value="">
					<label for="Peso">Peso: Kg</label>
				</div>	
				
				<div class="input-field col s12 m3">
					<input id="Altura" type="text" class="validate" name="altura" value="">
					<label for="Altura">Altura</label>
				</div>
				
			</div>
			
			<div class="row">
				
				<div class="input-field col s12 m4"> 
					<select name="lado" >
						<option value="0" disabled selected>Selecione</option>
						<option value="1">Direito</option>
						<option value="2">Esquerdo</option>
					
					</select>
					<label>Lado dominante (que escreve):</label>
				</div>
				
				<div class="input-field col s12 m4"> 
					<select name="tempoempresa" >
						<option value="0" disabled selected>Selecione</option>
						<option value="1">De 0 até 1 ano</option>
						<option value="2">De 1 até 2 anos</option>
						<option value="3">De 2 até 5 anos</option>
						<option value="3">Mais de 5 anos</option>
					
					</select>
					<label>Há quanto tempo trabalha na empresa?</label>
				</div>
				
				<div class="input-field col s12 m4"> 
					<input id="Departamento" type="text" class="validate" name="departamento" value="" placeholder="Unidade de Trabalho">
					<label for="Departamento">Departamento</label>
				</div>
				
			</div>
			
			<div class="row">
					<div class="col s12">
						 <h5>Você sente frequentemente desconforto em alguma das regiões abaixo? Marque ao lado do número referente a região de desconforto. Observe atentamente a indicação dos lados no desenho.</h5>
					</div>
			</div>
			
			<div class="row">
				<div class="col s12">
				
					<div class="container-fluid">
						<div class="row">
							
							<div class="col-md-8 col-md-offset-2" style="min-height:495px;">
								
								<div id="#map" class="Corllet">
									
									<!-- 1 cabeça -->
									<label style="position:absolute; top: 0px; left: 179px;"><input type="checkbox" class="filled-in" name="form[body][1]"><span></span></label>	
									<!-- 2 pescoço -->
									<label style="position:absolute; top:45px; left: 179px;"><input type="checkbox" class="filled-in" name="form[body][2]"><span></span></label>
									<!-- 3 cent -->
									<label style="position:absolute; top: 135px; left: 179px;"><input type="checkbox" class="filled-in" name="form[body][3]"><span></span></label>
									<!-- 4 cent -->
									<label style="position:absolute; top: 190px; left: 179px;"><input type="checkbox" class="filled-in" name="form[body][4]"><span></span></label>
									<!-- 5 cent -->
									<label style="position:absolute; top: 230px; left: 179px;"><input type="checkbox" class="filled-in" name="form[body][5]"><span></span></label>
									
									<!-- 6 dir -->
									<label style="position:absolute; top: 90px; left: 200px;"><input type="checkbox" class="filled-in" name="form[body][6D]"><span></span></label>
									<!-- 7 dir -->
									<label style="position:absolute; top: 130px; left: 223px;"><input type="checkbox" class="filled-in" name="form[body][7D]"><span></span></label>
									<!-- 8 dir -->
									<label style="position:absolute; top: 160px; left: 233px;"><input type="checkbox" class="filled-in" name="form[body][8D]"><span></span></label>
									<!-- 9 dir -->
									<label style="position:absolute; top: 185px; left: 250px;"><input type="checkbox" class="filled-in" name="form[body][9D]"><span></span></label>
									<!-- 10 dir -->
									<label style="position:absolute; top: 209px; left: 264px;"><input type="checkbox" class="filled-in" name="form[body][10D]"><span></span></label>
									<!-- 11 dir -->
									<label style="position:absolute; top: 234px; left: 273px;"><input type="checkbox" class="filled-in" name="form[body][11D]"><span></span></label>
									<!-- 12 dir -->
									<label style="position:absolute; top: 280px; left: 223px;"><input type="checkbox" class="filled-in" name="form[body][12D]"><span></span></label>
									<!-- 13 dir -->
									<label style="position:absolute; top: 327px; left: 218px;"><input type="checkbox" class="filled-in" name="form[body][13D]"><span></span></label>
									<!-- 14 dir -->
									<label style="position:absolute; top: 365px; left: 216px;"><input type="checkbox" class="filled-in" name="form[body][14D]"><span></span></label>
									<!-- 15 dir -->
									<label style="position:absolute; top: 415px; left: 208px;"><input type="checkbox" class="filled-in" name="form[body][15D]"><span></span></label>
									<!-- 16 dir -->
									<label style="position:absolute; top: 440px; left: 208px;"><input type="checkbox" class="filled-in" name="form[body][16D]"><span></span></label>
									
									<!-- 6 esq -->
									<label style="position:absolute; top: 90px; left: 157px;"><input type="checkbox" class="filled-in" name="form[body][18]"><span></span></label>
									<!-- 7 esq -->
									<label style="position:absolute; top: 130px; left: 135px;"><input type="checkbox" class="filled-in" name="form[body][19]"><span></span></label>
									<!-- 8 esq -->
									<label style="position:absolute; top: 160px; left: 124px;"><input type="checkbox" class="filled-in" name="form[body][20]"><span></span></label>
									<!-- 9 esq -->
									<label style="position:absolute; top: 185px; left: 110px;"><input type="checkbox" class="filled-in" name="form[body][21]"><span></span></label>
									<!-- 10 esq -->
									<label style="position:absolute; top: 210px; left: 95px;"><input type="checkbox" class="filled-in" name="form[body][22]"><span></span></label>
									<!-- 11 esq -->
									<label style="position:absolute; top: 235px; left: 85px;"><input type="checkbox" class="filled-in" name="form[body][23]"><span></span></label>
									<!-- 12 esq -->
									<label style="position:absolute; top: 280px; left: 135px;"><input type="checkbox" class="filled-in" name="form[body][24]"><span></span></label>
									<!-- 13 esq -->
									<label style="position:absolute; top: 327px; left: 140px;"><input type="checkbox" class="filled-in" name="form[body][25]"><span></span></label>
									<!-- 14 esq -->
									<label style="position:absolute; top: 365px; left: 140px;"><input type="checkbox" class="filled-in" name="form[body][26]"><span></span></label>
									<!-- 15 esq -->
									<label style="position:absolute; top: 415px; left: 143px;"><input type="checkbox" class="filled-in" name="form[body][27]"><span></span></label>
									<!-- 16 esq -->
									<label style="position:absolute; top: 440px; left: 144px;"><input type="checkbox" class="filled-in" name="form[body][16E]"><span></span></label>
									
								</div>
								
							</div>
						</div>
					</div>
				
				
				
				</div>
			</div>
			
			<div class="row">
				<div class="input-field col s12 m12"> <h5>Área de Interesse (marque até 3):</h5></div>
			</div>
			
			<div class="row">

				<div class="col s12 m3"> 
					<label><input type="checkbox" class="filled-in"/><span>Nutrição/alimentação</span></label>
				</div>
				
				<div class="col s12 m3"> 
					<label><input type="checkbox" class="filled-in"/><span>Gastronomia</span></label>
				</div>
				
				<div class="col s12 m3"> 
					<label><input type="checkbox" class="filled-in"/><span>Finanças pessoais</span></label>
				</div>
				
				<div class="col s12 m3"> 
					<label><input type="checkbox" class="filled-in"/><span>Cinema/leitura</span></label>
				</div>				
			</div>
			
			<div class="row">
				<div class="col s12 m3"> 
					<label><input type="checkbox" class="filled-in"/><span>Equilíbrio interior/meditação</span></label>
				</div>
				
				<div class="col s12 m3"> 
					<label><input type="checkbox" class="filled-in"/><span>Distúrbio do sono</span></label>
				</div>
				
				<div class="col s12 m3"> 
					<label><input type="checkbox" class="filled-in"/><span>Estética com saúde</span></label>
				</div>
				
				<div class="col s12 m3"> 
					<label><input type="checkbox" class="filled-in"/><span>Terapias de relaxamento</span></label>
				</div>				
			</div>
			
			<div class="row">				
				<div class="col s12 m3"> 
					<label><input type="checkbox" class="filled-in"/><span>Música/Dança</span></label>
				</div>
			</div>
			
			<div class="row">	
				<div class="input-field col s12 m6"> 
					<input id="Outro" type="text" class="validate" name="outro" value="">
					<label for="Outro">Outro</label>
				</div>
			</div>
			
			<div class="row">
				<div class="col s12 m12"><h5>Qual horário que você se sente menos produtivo:</h5></div>
			</div>
			
			<div class="row">

				<div class="col s12 m5"> 
					<label><input type="checkbox" class="filled-in"/><span>Manhã</span></label>
				</div>
				
				<div class="col s12 m5"> 
					<label><input type="checkbox" class="filled-in"/><span>Tarde</span></label>
				</div>
				
				<div class="col s12 m2"> 
					<label><input type="checkbox" class="filled-in"/><span>Tarde/Noite</span></label>
				</div>				
			</div>
			
			
			<div class="row">
				<div class="input-field col s12 m12">
					<h5>De 1 (mínimo) a 5 ( máximo). Qual é o seu grau de estresse:</h5>
				</div>
			</div>
			
			<div class="row">	
				<div class="col s12 m2"> 
					<label><input type="radio" name="group1"/><span>1</span></label>
				</div>
				
				<div class="col s12 m2"> 
					<label><input type="radio" name="group1"/><span>2</span></label>
				</div>
				
				<div class="col s12 m2"> 
					<label><input type="radio" name="group1"/><span>3</span></label>
				</div>
				
				<div class="col s12 m2"> 
					<label><input type="radio" name="group1"/><span>4</span></label>
				</div>
				
				<div class="col s12 m4"> 
					<label><input type="radio" name="group1"/><span>5</span></label>
				</div>
			</div>
			
			<div class="row">
				<div class="input-field col s12 m6"> 
					<input id="Justifique" type="text" class="validate" name="justifique" value="">
					<label for="Justifique">Justifique</label>
				</div>
			</div>
			
			
			
			
		
			<div class="row">
				<div class="input-field col s12 m12">
					<h5>SINTOMAS - Você tem apresentado regularmente algum dos sintomas abaixo? (Caso a resposta seja negativa, não altere a opção)</h5>
				</div>
			</div>	
			
			<div class="row">
				<div class="col s12 m6">Desconforto físico</div>
				<div class="col s12 m6">					
					<div class="switch">
						<label>Não<input type="checkbox"><span class="lever"></span> Sim </label>
					  </div>
				</div>
			</div>
			
			<div class="row">
				<div class="col s12 m6">Indisposição para o trabalho</div>
				<div class="col s12 m6">					
					<div class="switch">
						<label>Não<input type="checkbox"><span class="lever"></span> Sim </label>
					  </div>
				</div>
			</div>
			
			<div class="row">
				<div class="col s12 m6">Desanimo</div>
				<div class="col s12 m6">					
					<div class="switch">
						<label>Não<input type="checkbox"><span class="lever"></span> Sim </label>
					  </div>
				</div>
			</div>
			
			<div class="row">
				<div class="col s12 m6">Dor de cabeça</div>
				<div class="col s12 m6">					
					<div class="switch">
						<label>Não<input type="checkbox"><span class="lever"></span> Sim </label>
					  </div>
				</div>
			</div>
			
			<div class="row">
				<div class="col s12 m6">Ansiedade</div>
				<div class="col s12 m6">					
					<div class="switch">
						<label>Não<input type="checkbox"><span class="lever"></span> Sim </label>
					  </div>
				</div>
			</div>
			
			<div class="row">
				<div class="col s12 m6">Irritabilidade</div>
				<div class="col s12 m6">					
					<div class="switch">
						<label>Não<input type="checkbox"><span class="lever"></span> Sim </label>
					  </div>
				</div>
			</div>
			
			<div class="row">
				<div class="col s12 m6">Perda de memória</div>
				<div class="col s12 m6">					
					<div class="switch">
						<label>Não<input type="checkbox"><span class="lever"></span> Sim </label>
					  </div>
				</div>
			</div>
			
			<div class="row">
				<div class="col s12 m6">Sente que tem trabalhado abaixo do seu potencial</div>
				<div class="col s12 m6">					
					<div class="switch">
						<label>Não<input type="checkbox"><span class="lever"></span> Sim </label>
					  </div>
				</div>
			</div>
			
			<div class="row">
				<div class="col s12 m6">Sente vontade de ficar sozinho</div>
				<div class="col s12 m6">					
					<div class="switch">
						<label>Não<input type="checkbox"><span class="lever"></span> Sim </label>
					  </div>
				</div>
			</div>
				
			
			
			<div class="row">
				<div class="input-field col s12 m12">
					<h5>Você buscou tratamento, nos últimos 6 meses para (Caso a resposta seja negativa, não altere a opção):</h5>
				</div>
			</div>	
			
			<div class="row">
				<div class="col s12 m6">Dores nos membros superiores</div>
				<div class="col s12 m6">					
					<div class="switch">
						<label>Não<input type="checkbox"><span class="lever"></span> Sim </label>
					  </div>
				</div>
			</div>
			
			<div class="row">
				<div class="col s12 m6">Dores nos membros inferiores</div>
				<div class="col s12 m6">					
					<div class="switch">
						<label>Não<input type="checkbox"><span class="lever"></span> Sim </label>
					  </div>
				</div>
			</div>
			
			<div class="row">
				<div class="col s12 m6">Dores nas costas</div>
				<div class="col s12 m6">					
					<div class="switch">
						<label>Não<input type="checkbox"><span class="lever"></span> Sim </label>
					  </div>
				</div>
			</div>
			
			<div class="row">
				<div class="col s12 m6">Sintomas de estresse</div>
				<div class="col s12 m6">					
					<div class="switch">
						<label>Não<input type="checkbox"><span class="lever"></span> Sim </label>
					  </div>
				</div>
			</div>
			
			
			
			
			
			<div class="row">
				<div class="input-field col s12 m12">
					<h5>Você se ausentou do trabalho nos últimos 6 meses por causa de (Caso a resposta seja negativa, não altere a opção):</h5>
				</div>
			</div>	
			
			<div class="row">
				<div class="col s12 m6">Dores nos membros superiores</div>
				<div class="col s12 m6">					
					<div class="switch">
						<label>Não<input type="checkbox"><span class="lever"></span> Sim </label>
					  </div>
				</div>
			</div>
			
			<div class="row">
				<div class="col s12 m6">Dores nos membros inferiores</div>
				<div class="col s12 m6">					
					<div class="switch">
						<label>Não<input type="checkbox"><span class="lever"></span> Sim </label>
					  </div>
				</div>
			</div>
			
			<div class="row">
				<div class="col s12 m6">Dores nas costas</div>
				<div class="col s12 m6">					
					<div class="switch">
						<label>Não<input type="checkbox"><span class="lever"></span> Sim </label>
					  </div>
				</div>
			</div>
			
			<div class="row">
				<div class="col s12 m6">Sintomas de estresse</div>
				<div class="col s12 m6">					
					<div class="switch">
						<label>Não<input type="checkbox"><span class="lever"></span> Sim </label>
					  </div>
				</div>
			</div>
			
			
			
			
			
			<div class="row">
				<div class="input-field col s12 m12">
					<h5>Perfil de Qualidade de Vida (Caso a resposta seja negativa, não altere a opção):</h5>
				</div>
			</div>	
			
			<div class="row">
				<div class="col s12 m6">É fumante?</div>
				<div class="col s12 m6">					
					<div class="switch">
						<label>Não<input type="checkbox"><span class="lever"></span> Sim </label>
					  </div>
				</div>
			</div>
			
			<div class="row">
				<div class="col s12 m6">Pratica atividade física?</div>
				<div class="col s12 m6">					
					<div class="switch">
						<label>Não<input type="checkbox"><span class="lever"></span> Sim </label>
					  </div>
				</div>
			</div>
			
			<div class="row">
				<div class="col s12 m6">Estuda antes ou depois do trabalho?</div>
				<div class="col s12 m6">					
					<div class="switch">
						<label>Não<input type="checkbox"><span class="lever"></span> Sim </label>
					  </div>
				</div>
			</div>
			
			<div class="row">
				<div class="col s12 m6">Tem outro trabalho?</div>
				<div class="col s12 m6">					
					<div class="switch">
						<label>Não<input type="checkbox"><span class="lever"></span> Sim </label>
					  </div>
				</div>
			</div>
			
			<div class="row">
				<div class="col s12 m6">Toca instrumento musical?</div>
				<div class="col s12 m6">					
					<div class="switch">
						<label>Não<input type="checkbox"><span class="lever"></span> Sim </label>
					  </div>
				</div>
			</div>
			
			<div class="row">
				<div class="col s12 m6">Tem algum problema de audição?</div>
				<div class="col s12 m6">					
					<div class="switch">
						<label>Não<input type="checkbox"><span class="lever"></span> Sim </label>
					  </div>
				</div>
			</div>
			
			<div class="row">
				<div class="col s12 m6">Tem algum problema nas cordas vocais?</div>
				<div class="col s12 m6">					
					<div class="switch">
						<label>Não<input type="checkbox"><span class="lever"></span> Sim </label>
					  </div>
				</div>
			</div>
			
			<div class="row">
				<div class="col s12 m6">Se alimenta de forma adequada?</div>
				<div class="col s12 m6">					
					<div class="switch">
						<label>Não<input type="checkbox"><span class="lever"></span> Sim </label>
					  </div>
				</div>
			</div>
			
			<div class="row">
				<div class="col s12 m6">Apresenta pressão alta?</div>
				<div class="col s12 m6">					
					<div class="switch">
						<label>Não<input type="checkbox"><span class="lever"></span> Sim </label>
					  </div>
				</div>
			</div>
			
			<div class="row">
				<div class="col s12 m6">Tem diabetes?</div>
				<div class="col s12 m6">					
					<div class="switch">
						<label>Não<input type="checkbox"><span class="lever"></span> Sim </label>
					  </div>
				</div>
			</div>
			
			<div class="row">
				<div class="col s12 m6">Usa óculos ou lente corretora?</div>
				<div class="col s12 m6">					
					<div class="switch">
						<label>Não<input type="checkbox"><span class="lever"></span> Sim </label>
					  </div>
				</div>
			</div>
				
			<div class="row">
					<div class="input-field col s12">
						<p align="center"><a href="" class="waves-effect waves-light btn2">Enviar</a></p>
					</div>
			</div>	
		
				
		</form>
	</div>
</div>

<?php include_once('rodape.php'); ?>