.pignose-calendar {
	max-width: 960px;
	/*background-color: #ffffff;*/
	border: 0px solid #d8d8d8;
	font-size: 14px;
	/*margin: 0 auto;*/
	left: 0;
/*	box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
	-o-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
	-moz-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
	-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);*/
}

.pignose-calendar .pignose-calendar-top {
	padding: 2.6em 0;
	/*background-color: #fafafa;
	border-bottom: 1px solid #e2e2e2;
	box-shadow: 0 3px 8px rgba(0, 0, 0, .125);
	-o-box-shadow: 0 3px 8px rgba(0, 0, 0, .125);
	-moz-box-shadow: 0 3px 8px rgba(0, 0, 0, .125);
	-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .125);*/
	position: relative;
	overflow: hidden;
}

.pignose-calendar .pignose-calendar-top .pignose-calendar-top-date {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 1.6em 0;
	text-align: center;
	box-sizing: border-box;
	-o-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.pignose-calendar .pignose-calendar-top .pignose-calendar-top-year {
	font-weight: 400;
	font-size: 13px;
	color: #999999;
	margin: 0;
	padding: 0;
}

.pignose-calendar .pignose-calendar-top .pignose-calendar-top-month {
	/*font-weight: 600;*/
	font-size: 30px;
	margin-bottom: .4em;
	font-family: 'Futura Bold Condensed BT';
	text-transform: uppercase;
}

.pignose-calendar .pignose-calendar-top .pignose-calendar-top-nav {
	position: relative;
	z-index: 5;
	text-decoration: none;
}

.pignose-calendar .pignose-calendar-top .pignose-calendar-top-nav .pignose-calendar-top-value {
	display: inline-block;
	color: #FFFFFF;
	font-size: 15px;
	font-weight: 600;
	vertical-align: middle;
}

.pignose-calendar .pignose-calendar-top .pignose-calendar-top-nav .pignose-calendar-top-icon {
	display: inline-block;
	width: 7px;
	height: 12px;
	background: url('../image/icon_navs.png') no-repeat 0 0 scroll transparent;
	text-indent: -1000px;
	vertical-align: middle;
	overflow: hidden;
}

.pignose-calendar .pignose-calendar-top .pignose-calendar-top-nav.pignose-calendar-top-prev {
	float: left;
	margin-left: 1.6em;
}

.pignose-calendar .pignose-calendar-top .pignose-calendar-top-nav.pignose-calendar-top-prev .pignose-calendar-top-value {
	margin-left: .2em;
}

.pignose-calendar .pignose-calendar-top .pignose-calendar-top-nav.pignose-calendar-top-prev .pignose-calendar-top-icon {
	background-position: 0 0;
}

.pignose-calendar .pignose-calendar-top .pignose-calendar-top-nav.pignose-calendar-top-next {
	float: right;
	margin-right: 1.6em;
}

.pignose-calendar .pignose-calendar-top .pignose-calendar-top-nav.pignose-calendar-top-next .pignose-calendar-top-value {
	margin-right: .2em;
}

.pignose-calendar .pignose-calendar-top .pignose-calendar-top-nav.pignose-calendar-top-next .pignose-calendar-top-icon {
	background-position: -7px 0;
}

.pignose-calendar .pignose-calendar-header {
	padding: 0 1.2em;
	margin-top: 1.2em;
	font-weight: 600;
	overflow: hidden;
}

.pignose-calendar .pignose-calendar-body {
	padding: 1.2em;
}

.pignose-calendar .pignose-calendar-header .pignose-calendar-week {
	float: left;
	width: 14.28%;
	height: 2.8em;
	text-align: center;
	line-height: 2.8em;
	box-sizing: border-box;
	-o-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.pignose-calendar .pignose-calendar-header .pignose-calendar-week.pignose-calendar-week-sun,
.pignose-calendar .pignose-calendar-header .pignose-calendar-week.pignose-calendar-week-sat {
	color: #f9a825;
}

.pignose-calendar .pignose-calendar-header .pignose-calendar-week:last-child {
	width: 14.32%;
}

.pignose-calendar .pignose-calendar-body {
}

.pignose-calendar .pignose-calendar-body .pignose-calendar-row {
	overflow: hidden;
}

.pignose-calendar .pignose-calendar-body .pignose-calendar-row:last-child {
}

.pignose-calendar-unit {
	float: left;
	display: block;
	height: 2.8em;
	width: 14.28%;
	text-align: center;
	line-height: 2.8em;
	box-sizing: border-box;
	-o-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.pignose-calendar-unit a {
	display: inline-block;
	width: 2.4em;
	height: 2.4em;
	border-radius: 50%;
	color: #b3e5fc;
	line-height: 2.4em;
	text-align: center;
	text-decoration: none;
	transition: background-color .3s ease, color .3s ease;
	-o-transition: background-color .3s ease, color .3s ease;
	-moz-transition: background-color .3s ease, color .3s ease;
	-webkit-transition: background-color .3s ease, color .3s ease;
}

.pignose-calendar-unit.pignose-calendar-unit-disabled a {
	opacity: .5;
	background-color: #efefef;
}

.pignose-calendar-unit a:active {
	background-color: #d8d8d8;
}

.pignose-calendar-unit.pignose-calendar-unit-range a {
	background-color: #f1f1f1;
	border-radius: 0;
	width: 100%;
}

.pignose-calendar-unit.pignose-calendar-unit-range.pignose-calendar-unit-disabled a {
	color: #b2b9bb;
	background-color: #e1e1e1;
}

.pignose-calendar-unit.pignose-calendar-unit-range.pignose-calendar-unit-range-first a {
	border-top-left-radius: 1.2em;
	border-bottom-left-radius: 1.2em;
}

.pignose-calendar-unit.pignose-calendar-unit-range.pignose-calendar-unit-range-last a {
	border-top-right-radius: 1.2em;
	border-bottom-right-radius: 1.2em;
}

.pignose-calendar.pignose-calendar-default .pignose-calendar-body .pignose-calendar-row .pignose-calendar-unit.pignose-calendar-unit-toggle-active a {
	color: #cccccc;
}

.pignose-calendar.pignose-calendar-reverse .pignose-calendar-body .pignose-calendar-row .pignose-calendar-unit.pignose-calendar-unit-toggle-inactive a {
	color: #cccccc;
}

.pignose-calendar-unit.pignose-calendar-unit-active a {
	background-color: #00b975/*f9a825*/;
	color: #ffffff;
	font-weight: 600;
	/*box-shadow: 0 1px 3px rgba(0, 0, 0, .5);
	-o-box-shadow: 0 1px 3px rgba(0, 0, 0, .5);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .5);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .5);*/
}

.pignose-calendar-unit.pignose-calendar-unit-sun a,
.pignose-calendar-unit.pignose-calendar-unit-sat a {
	color: #f9a825;
}

.pignose-calendar-unit.pignose-calendar-unit-active.pignose-calendar-unit-sun a,
.pignose-calendar-unit.pignose-calendar-unit-active.pignose-calendar-unit-sat a {
	color: #ffffff;
}

.pignose-calendar-unit a:hover {
	
}

.pignose-calendar-unit:last-child {
	width: 14.32%;
}

.pignose-calendar-wrapper {
	display: none;
	position: fixed;
	width: 100%;
	max-width: 360px;
	top: 50%;
	left: 50%;
	border-radius: 2px;
	z-index: 50001;
	overflow: hidden;
	box-shadow: 0 4px 16px rgba(0, 0, 0, 1);
	-o-box-shadow: 0 4px 16px rgba(0, 0, 0, 1);
	-moz-box-shadow: 0 4px 16px rgba(0, 0, 0, 1);
	-webkit-box-shadow: 0 4px 16px rgba(0, 0, 0, 1);
	transform: translate3d(0, 160px, 0);
	-o-transform: translate3d(0, 160px, 0);
	-moz-transform: translate3d(0, 160px, 0);
	-webkit-transform: translate3d(0, 160px, 0);
	opacity: 0;
	transition: opacity .3s ease, transform .5s ease-out, -webkit-transform .5s ease-out;
	-o-transition: opacity .3s ease, transform .5s ease-out, -webkit-transform .5s ease-out;
	-moz-transition: opacity .3s ease, transform .5s ease-out, -webkit-transform .5s ease-out;
	-webkit-transition: opacity .3s ease, transform .5s ease-out, -webkit-transform .5s ease-out;
}

.pignose-calendar-wrapper .pignose-calendar {
	border: none;
}

.pignose-calendar-wrapper.pignose-calendar-wrapper-active {
	opacity: 1;
	transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
}

.pignose-calendar-wrapper-overlay {
	background-color: #000000;
	opacity: 0;
	transition: opacity .3s ease;
	-o-transition: opacity .3s ease;
	-moz-transition: opacity .3s ease;
	-webkit-transition: opacity .3s ease;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: 50000;
}

.pignose-calendar-wrapper-overlay.pignose-calendar-wrapper-overlay-active {
	opacity: .7;
}

.pignose-calendar-wrapper .pignose-calendar .pignose-calendar-button-group {
	border-top: 1px solid #e2e2e2;
	overflow: hidden;
}

.pignose-calendar-wrapper .pignose-calendar .pignose-calendar-button-group .pignose-calendar-button {
	width: 50%;
	display: block;
	float: left;
	height: 3.2em;
	text-align: center;
	line-height: 3.2em;
	color: #333333;
	font-weight: 600;
	text-decoration: none;
	transition: background-color .3s ease;
	-o-transition: background-color .3s ease;
	-moz-transition: background-color .3s ease;
	-webkit-transition: background-color .3s ease;
	box-sizing: border-box;
	-o-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.pignose-calendar-wrapper .pignose-calendar .pignose-calendar-button-group .pignose-calendar-button:hover {
	background-color: #f1f1f1;
}

.pignose-calendar-wrapper .pignose-calendar .pignose-calendar-button-group .pignose-calendar-button-apply {
	color: #ffffff;
	background-color: #2fabb7;
}


.pignose-calendar-wrapper .pignose-calendar .pignose-calendar-button-group .pignose-calendar-button-apply:hover {
	background-color: #31b2c9;
}

/*================================================================================================================

   # DARK THEME

================================================================================================================*/

.pignose-calendar.pignose-calendar-dark {
	border-color: #373a3c;
	background-color: #4b4f51;
	box-shadow: 0 3px 8px rgba(0, 0, 0, .5);
	-o-box-shadow: 0 3px 8px rgba(0, 0, 0, .5);
	-moz-box-shadow: 0 3px 8px rgba(0, 0, 0, .5);
	-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .5);
}

.pignose-calendar.pignose-calendar-dark .pignose-calendar-top {
	background-color: #3d4345;
	border-bottom-color: #3a3d3f;
	box-shadow: 0 3px 8px rgba(0, 0, 0, .175);
	-o-box-shadow: 0 3px 8px rgba(0, 0, 0, .175);
	-moz-box-shadow: 0 3px 8px rgba(0, 0, 0, .175);
	-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .175);
}

.pignose-calendar.pignose-calendar-dark .pignose-calendar-top .pignose-calendar-top-month {
	color: #ffffff;
}

.pignose-calendar.pignose-calendar-dark .pignose-calendar-top .pignose-calendar-top-year {
	color: #bdc2c5;
}

.pignose-calendar.pignose-calendar-dark .pignose-calendar-top .pignose-calendar-top-nav .pignose-calendar-top-value {
	color: #a2a9ab;
}

.pignose-calendar.pignose-calendar-dark .pignose-calendar-top .pignose-calendar-top-nav .pignose-calendar-top-icon {
	background-image: url('../image/icon_navs_dark.png');
}

.pignose-calendar.pignose-calendar-dark .pignose-calendar-header .pignose-calendar-week {
	color: #bdc2c5;
}

.pignose-calendar.pignose-calendar-dark .pignose-calendar-header .pignose-calendar-week.pignose-calendar-week-sun,
.pignose-calendar.pignose-calendar-dark .pignose-calendar-header .pignose-calendar-week.pignose-calendar-week-sat {
	color: #ff6060;
}

.pignose-calendar.pignose-calendar-dark .pignose-calendar-body .pignose-calendar-row .pignose-calendar-unit.pignose-calendar-unit-sun a,
.pignose-calendar.pignose-calendar-dark .pignose-calendar-body .pignose-calendar-row .pignose-calendar-unit.pignose-calendar-unit-sat a {
	color: #ff6060;
}

.pignose-calendar.pignose-calendar-dark .pignose-calendar-body .pignose-calendar-row .pignose-calendar-unit a {
	color: #51cfd2;
}

.pignose-calendar.pignose-calendar-dark .pignose-calendar-body .pignose-calendar-row .pignose-calendar-unit.pignose-calendar-unit-disabled a {
	color: #868e8f;
	background-color: #5d6365;
}

.pignose-calendar.pignose-calendar-dark .pignose-calendar-body .pignose-calendar-row .pignose-calendar-unit.pignose-calendar-unit-active a {
	color: #ffffff;
	background-color: #36bec2;
	box-shadow: 0 1px 3px rgba(0, 0, 0, .75);
	-o-box-shadow: 0 1px 3px rgba(0, 0, 0, .75);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .75);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .75);
}

.pignose-calendar.pignose-calendar-dark .pignose-calendar-body .pignose-calendar-row .pignose-calendar-unit.pignose-calendar-unit-range a {
	background-color: #5a5d62;
}

.pignose-calendar.pignose-calendar-dark .pignose-calendar-body .pignose-calendar-row .pignose-calendar-unit.pignose-calendar-unit-range.pignose-calendar-unit-disabled a {
	color: #727a7c;
	background-color: #4f5558;
}

.pignose-calendar.pignose-calendar-dark .pignose-calendar-body .pignose-calendar-row .pignose-calendar-unit.pignose-calendar-unit-toggle a {
	color: #8b8f94;
}

.pignose-calendar-wrapper .pignose-calendar.pignose-calendar-dark .pignose-calendar-button-group {
	border-top: 1px solid #373a3c;
	overflow: hidden;
}

.pignose-calendar-wrapper .pignose-calendar.pignose-calendar-dark .pignose-calendar-button-group .pignose-calendar-button {
	color: #ffffff;
}

.pignose-calendar-wrapper .pignose-calendar.pignose-calendar-dark .pignose-calendar-button-group .pignose-calendar-button-apply {
	color: #ffffff;
	background-color: #36bec2;
}

.pignose-calendar-wrapper .pignose-calendar.pignose-calendar-dark .pignose-calendar-button-group .pignose-calendar-button:hover {
	background-color: #5a5d62;
}
