@charset "utf-8";

.login_label { color: #FFFFFF!important; margin-left: 8px!important;}

.login_nome {margin-top: -11px!important; margin-left: 15px!important; margin-bottom: 8px!important; }

.login_senha {/*margin-top: -20px!important; */margin-left: 15px!important;}

/*.loginLink { 
	color: #0581a1!important; 
	margin-left: 6px!important; 
	margin-top: 10px!important;
	font-size: 12px!important;
}*/

.B-Cadastrese{
	position: absolute;
	background-color:#44c767;
	cursor:pointer;
	color:#ffffff;
	font-size:14px;
	font-weight: bold;
	text-align: center;
	padding:5px 9px;
	text-decoration:none;
	top: 67px;
	left: 28px;
}

a.B-Cadastrese:hover {text-decoration: none;}

a.loginLink { color: #0581a1!important; }

a.loginLink:hover { color: #0581a1!important; text-decoration: underline!important; }

.hide_item {
	-webkit-border-radius: 5px!important;
	-moz-border-radius: 5px!important;
	border-radius: 5px!important;
}

.Form {
    background: transparent; 
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
    border-bottom: 1px solid #FFFFFF;
	color: #FFFFFF;
}

.Form:focus { border: none;}

.login_enviar{
	top: 67px!important;
	right: 30px!important;
}



