*{ margin: 0; padding: 0;}

body{font-family: 'Maven Pro', sans-serif;  }
*.clear{ clear: both;}

img{ margin:0; padding:0; border: none;}
button{ margin:0; padding:0; border: none; background-color:transparent;}
p { margin:0; padding:0;}
a { margin:0; padding:0; text-decoration:none;}
a:hover{text-decoration:underline;}

.main{width:100%;}
.container{ width:1030px; margin:0 auto;  }
.container_inner{ width:1030px; margin:0 auto; padding-top:116px;}
.inner_bg{ }


#page img {
opacity: 0;
/*-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
filter: alpha(opacity=0);
-moz-opacity: 0;
-khtml-opacity: 00;
opacity: 0;*/

-webkit-transition:	opacity 1000ms ease;
-moz-transition:	opacity 1000ms ease;
-ms-transition:		opacity 1000ms ease;
-o-transition:		opacity 1000ms ease;
transition:			opacity 1000ms ease;
}
.floatleft{float:left;}
.floatright{float:right;}


/*HEADER*/
.header{ width:100%;}
.nav_top{ background:#0581a1;}
.nav_top_wrap{ width:1030px; margin:0 auto; height:42px; position:relative;}
.nav_top_wrap_inner{ padding-left:217px;}
.nav_top_wrap .nav_top_wrap_inner ul{ padding-top:10px;}
.nav_top_wrap .nav_top_wrap_inner ul li{  display:inline;}
.nav_top_wrap .nav_top_wrap_inner ul li img{ padding-bottom:2px; padding-left:7px; padding-right:7px;}
.nav_top_wrap .nav_top_wrap_inner ul li a{ color:#84d7ec; font-size:14px; text-decoration:none;}
.nav_top_wrap .nav_top_wrap_inner ul li a:hover{ color:#f9c756;}


.separador_top_home{
	color: #84d7ec;
	margin: 0px 5px 0px 5px;
}


.pagination{ top: 414px !important;}
/*---------------------------------------NAVIGATION-DROP-------------------------*/

#navi {



}

.has_sub{ 
}


#navi a{
display:block;





}

#navi li{
float:left;
position:relative;
list-style:none;


}

#navi li span{
	color: #fff;
  font-weight: 600;
  margin-right: 30px;
  position: relative;
  top: -11px;
}

#navi li:last-child{border-right:none;}

#navi li:hover{
}

#navi li a:hover{
}

#sub {/* width: 130px; position:absolute;
display:none; list-style:none; z-index:100; top:16px; background:#0095b6; border-left:4px solid #F9B346;*/
width: 200px;
  position: absolute;
  display: none;
  list-style: none;
  z-index: 100;
  top: 72px;
  background: #0095b6;
  border-left: 4px solid #F9B346;
  padding-left: 5px;
}


#sub li{ margin-left:6px; width: 185px; height:26px; background:url(images/submenu_middle_bg.png); border-right:none;}
#sub li:first-child{margin-left:6px; width: 130px; height:26px; background:url(images/submenu_top_bg.png) no-repeat;}
#sub li:last-child{margin-left:6px;  width: 130px; height:26px; background:url(images/submenu_bottom_bg.png) no-repeat;}
#sub li a{ font-size:13px; color:#fff;}


#sub li:hover{
border-bottom:none;
}

#sub li:hover a{
color:#F9B346;
}


#navi li:hover ul ul, #nav li:hover ul ul ul, #nav li:hover ul ul ul ul{
display:none;
}
#navi li:hover ul, #nav li li:hover ul, #nav li li li:hover ul, #nav li li li li:hover ul{
display:block;
}

/*---------------------------------------------------------------------------------------------------*/






.login{ margin-left:225px; padding-top:4px; position:absolute; top:0px; right:0px; cursor:pointer;}

.intranet{ width:161px; height:43px; /*background:url(../images/fundo_top_intranet.png) no-repeat;*/ margin-right:37px; cursor:pointer; margin-bottom:10px; z-index:1000; position:absolute; top:-7px; left:750px; }

.hide_item{ display:none; margin-top:0px; width:271px; height:104px; background: url(../images/hide_login.png) no-repeat; position:absolute; top:4px; right:0px;}
.submenu_home{ background:#ccc; width:128px; height:126px; position: absolute; top: 30px; z-index: -1; left: 21px;}
#close_hide_btn{ background:url(../images/btn_hide.png) no-repeat; width:18px; height:18px; position: absolute; top: 7px; right: 7px; cursor:pointer;}
.login_nome{}
.login_form{ margin-top:21px;}
.login_form .login_input_text {width: 150px; height: 25px; margin-top: 3px; padding-top: 0px; padding-left: 10px; background:#eaf4f7; border: 1px #dae8ec solid; margin-bottom:5px;}
.login_form .login_label {text-align: right; color: #0384a3; font-size: 13px; height: 15px; margin-top: 7px; padding-right: 5px; float: left; width: 48px;}
.login_botoes{ width: 30px;}

.login_enviar{
border: none;
color: #fff;
cursor: pointer;
font-weight: bold;
text-align: center;
font-size:14px;
height: 24px;
width: 27px;
position: absolute;
top: 61px;
right: 20px;
background:#008aae;
}
.error_login{
color: #008aae;
font-weight:bold;
cursor: pointer;
text-align: center;
font-size: 11px;
height: 17px;
width: 150px;
position: absolute;
top: 5px;
right: 57px;
}


.logo{ position:absolute; top:0px; left:0px; z-index:5;}

.nav_principal{ background:#008aae;}
.nav_principal_wrap{width:1030px; margin:0 auto; height:72px;}
.nav_principal_wrap_inner{ padding-left:223px;}
 
 
 
 .menu1 { width:127px; *width:127px; *height:72px; }
.menu1 a{color: #FFF; font-size: 14px; padding-bottom: 50px; padding-left: 127px; *padding-left: 0px;background: url('../images/ginastica_laboral.png') no-repeat scroll 9px 14px transparent; *padding-bottom: 0px; text-decoration:none; padding-top:2px;}
.menu1 a:hover{background: url(../images/ginastica_laboral_hover.png) no-repeat scroll 10px 13px #0095b6; border-bottom:4px solid #f9c756;}
.menu_inner1{ margin-left:47px; *margin-left:0px; *width:80px;  *padding-left:47px; *padding-top:20px; *padding-bottom:10px;}
.menu_inner1:hover{*border-bottom:4px solid #f9c756;}
/*.menu1 { *width:107px; *height:72px; }
.menu1 a{ background: url('../images/ginastica_laboral.png') no-repeat scroll 9px 14px transparent; *padding-left: 0px;color: #FFF; font-size: 16px; *padding-bottom: 0px; text-decoration:none; }
.menu1 a:hover{background: url(../images/ginastica_laboral_hover.png) no-repeat scroll 10px 13px #0095b6;  }
.menu_inner1{ *margin-left:0px; *width:72px;  *padding-left:33px; *padding-top:20px; *padding-bottom:10px; }*/


.menu2 { width:140px;  height:72px; *width:140px; *height:72px;}
.menu2 a{ background: url(../images/programas_prev.png) no-repeat scroll 9px 27px transparent; padding-left: 1px; color: #FFF; font-size: 14px; padding-top: 16px; padding-bottom: 16px; text-decoration: none;}
.menu2 a:hover{background: url(../images/programas_prev_hover.png) no-repeat scroll 9px 27px #0095b6; border-bottom:4px solid #f9c756;}
.menu_inner2{ margin-left:47px; *margin-left:0px; *width:94px;  *padding-left:47px; *padding-top:20px; *padding-bottom:10px; }
.menu_inner2:hover{*border-bottom:4px solid #f9c756;}

.menu3 { width:120px; *width:120px; *height:72px; }
.menu3 a{ background: url(../images/sipat.png) no-repeat scroll 9px 14px transparent; *padding-left: 0px; padding-left: 120px;color: #FFF; font-size: 14px; padding-top: 0px; *padding-bottom: 0px; padding-bottom: 50px; text-decoration:none; padding-top:2px;}
.menu3 a:hover{background: url(../images/sipat_hover.png) no-repeat scroll 9px 14px #0095b6;; border-bottom:4px solid #f9c756;}
.menu_inner3{ margin-left:47px; *margin-left:0px; *width:72px;  *padding-left:47px; *padding-top:20px; *padding-bottom:10px; }
.menu_inner3:hover{*border-bottom:4px solid #f9c756;}

.menu4 { width:117px; height:72px; *width:117px; *height:72px; }
.menu4 a{ background: url(../images/quick.png) no-repeat scroll 9px 14px transparent; *padding-left: 0px; padding-left: 120px; color: #FFF; font-size: 13px; padding-top: 2px; *padding-bottom: 0px; padding-bottom: 50px; text-decoration:none;}
.menu4 a:hover{background: url(../images/quick_hover.png) no-repeat scroll 9px 14px #0095b6;; border-bottom:4px solid #f9c756;}
.menu_inner4{ margin-left:47px; *margin-left:0px; *width:72px;  *padding-left:47px; *padding-top:20px; *padding-bottom:10px; margin-top:-7px;  }
.menu_inner4:hover{*border-bottom:4px solid #f9c756;}

.btn_orcamento{background: url(../images/bg_orc.png) no-repeat center center;
  width: 222px;
  height: 53px;
  margin-top: 11px;
  margin-left: 80px;}
.btn_orcamento:hover{background: url(../images/bg_orc.png) no-repeat center center;
  width: 222px;
  height: 53px; }
.btn_orcamento a{ color:#fff; font-size:16px; font-weight:600; text-decoration:none;} 
.btn_orcamento a:hover{color:#008aae;}
.btn_orcamento_inner{ margin-left:32px; margin-top:8px;}
.btn_orcamento_inner span{ font-size: 13px; font-weight: 200; padding-left: 12px;}





/* ----------------------------------------------------------------------------------------------*/

/* BANNER */

.banner{ background:#ebebeb; height:322px; width:100%; padding-top: 114px;}
.banner_inner{  margin:0 auto; position:relative;}

.loading{ background:url(../js/ajax-loader.gif) center center no-repeat;
width:16px;
height:16px;}
/*----------------------CICLE------------------------------------*/
.pics{ }
.pics img{ }
.btn{  }

#nav{ position:absolute; top:333px; left:0px; z-index:5; fon-size:0px;}
#nav a {background: url(../images/banners/bllet_inativo.jpg) no-repeat;
margin: 0 5px;
padding: 6px;
font-size: 0px;}
#nav a.activeSlide { background: url(../images/banners/bullet_active.jpg) no-repeat;
margin: 0 5px;
padding: 6px;
font-size: 0px;  }
#nav a:focus { outline: none; fon-size:0px; }


/* ----------------------------------------------------------------------------------------------*/

/* HOME */

.home{ margin-top:20px;}
.home .boxes_destaque_home{ width:1030px; margin-top:128px;}
.box_destaque_home{ width:231px; margin-right:35px;}
.last_child{margin-right:0px !important;}
.img_destaque{width:231px;}
.acende {
opacity: 1.0; 
-moz-opacity: 1.0;
Filter: Alpha(Opacity=90)
}


.acende:hover {
	background:#ebc560;
opacity: 0.3; 
-moz-opacity: 0.3;
Filter: Alpha(Opacity=100)
}
.img_destaque:hover{ background:url(../images/destaques_hover.png) no-repeat;}
.conteudo_destaque{}
.titulo{}
.titulo h1{ font-size:18px; color:#00759c;}
.text{ font-size: 13px; color: #808080; line-height: 19px; margin-top: 5px;}
.text a{color: #808080; text-decoration:none; }
.text a:hover{ color: #00759c;}
.leia_mais{  margin-top:5px;}
.leia_mais a{font-size:13px; color:#00759c;}
.icon_leiamais{ margin-top:1px; margin-left:7px;}



.boxes_passaporte{ width: 500px;
margin-top: 30px;
background: url(../images/bg_home_passaporte.jpg) no-repeat right 67px #eaf4f7;
border: solid 1px #dae8ec;
height: 255px;
}
.box_img_passaporte{ width: 340px; padding-left: 10px; padding-top: 10px; padding-right: 10px;}
.box_conteudo_passaporte{width: 430px;
margin-top: 11px;
margin-left: 20px;}
.box_conteudo_passaporte h1{
color: #278aab;
font-weight: 500;
font-size: 20px;}
.box_conteudo_passaporte h2{ font-size:31px; color:#278aab; text-transform:uppercase;}
.box_conteudo_passaporte p{ font-size:13px; color:#808080; margin-top: 5px; line-height: 18px; margin-bottom:30px;}
.box_conteudo_passaporte a{ padding:20px; background:#278aab; color:#fff; font-size:16px; font-weight:600;}
.box_reabilinho{ width: 220px; margin-top: 48px; margin-left: 20px;}

.livro_reabily{ width:513px; margin-left:0px; margin-top:50px; background:url(../images/bg_livroreabily.jpg) no-repeat 20px 96px;}
.livroimg{ width:209px; height:202px; margin-right:4px;}
.livrotext{ width:294px;}
.livrotext h1{ font-size:18px; color:#278aab; font-weight:700; text-transform:uppercase; margin-left:-24px;}
.livrotext h2{ font-size:14px; color:#278aab; font-weight:500;  margin-left:-24px;}
.livrotext .saibamaislivro{ margin-top:48px; }
.livrotext .saibamaislivro a{  font-size: 20px;
color: #fff;
text-decoration: none;
font-weight: 500;
margin-left: 22px;}
.livrotext .saibamaislivro a span{ color: #f9c757;}

.clientes_home{ margin-top:30px; margin-bottom:20px;}
.title_clientes_home{ color:#ebc560; font-size:20px; text-transform:uppercase; font-weight:600;}
.box_clientes{ border:solid 2px #efece5; width: 190px; margin-right:15px; margin-top:12px;}

.hide_item_vermais{ display:none; margin-top:0px; width:1030px; margin-bottom:30px;}

/* INTERNAS */

.wrap_internas{ margin-top:53px;}
.box_left{ width:397px;}

.box_right{width:613px; margin-left:20px; margin-bottom:30px;}

.title_interna{}
.title_interna h1{font-size:26px; color:#f9c757; font-weight:700;}
.title_interna img{float: left; margin-right: 10px; margin-top: 7px;}
.subtitle{}
.subtitle a{ text-decoration:none;}
.subtitle h2{ font-size:18px; color:#0095b6;}
.text{ color:#808080; font-size:16px; margin-top:10px; line-height:24px; margin-bottom:20px;}
.text ul{ list-style:inside; margin-right:5px}
.text li{ list-style-image:url(../images/icon_list.png);}
.text li li{ list-style:circle !important; margin-left:40px;}
.text li a{ text-decoration:none; color:#808080;}
.text li a:hover{ color:#f9c757;}
.text li span{ color:#008aae; font-size:16px;}
.text span{ color:#008aae; font-size:16px;}
.boxes_azul{ background:#eaf4f7; border: solid 2px #dae8ec; margin-top:20px;}



.bg_clipping{
  background: url(../images/btn_clippings.png) no-repeat center center;
  height: 55px;
}

.inner_clipping{
    text-align: center;
    padding-top: 7px;
}

.inner_clipping a{
  color: #fff;
  font-size: 14px;
  text-decoration: none;
 

}

.inner_clipping a span{
  color: #fff;
  font-size: 16px;
   font-weight: 900;
   text-transform: uppercase;
  
}

/* SOBRE REABILY */

.missao{ margin-top:20px;}
.box_missao{ width:310px; margin-right:20px; padding:10px 0 10px 18px;}
.last_child{ margin-right:0px !important;}

.boxes_equipe{ margin-top:35px; margin-bottom:30px;}
.box_equipe{ width:613px; margin-right:20px;}
.box_equipe_img{ width:397px;}

/* ASS. ESP. */

.esportes{ width:246px; padding:10px 0px 20px 30px; margin-bottom:30px;}

/* REABILY ONLINE */

.online_box{ padding:10px 0px 20px 30px; margin-bottom:30px;}


/* IMPRENSA */

.videos_imprensa{ margin-top:20px;}

.imprensa_box{ padding:10px 0px 0px 30px; margin-bottom:30px;}

/* GINASTICA */
.ginastica_box{ width:292px; padding:10px 0px 20px 30px; margin-bottom:30px;}
.boxes_netodologia{ width:1030px; margin-bottom:30px;}
.itens_laboral{ width:1030px; margin:0 auto;}
.item_laboral{ width:120px; height:120px; float:left; margin-left:22px; margin-bottom:22px;}


.item_blitz{ width:160px; margin-right:20px; margin-bottom:20px; display:inline-block; vertical-align:top; }
.item_blitz img{
	border: 4px solid #0095b6;
	-webkit-border-radius: 80px;
	-moz-border-radius: 80px;
	border-radius: 80px;
}
.img_blitz{ text-align:center;}
.text_blitz{
	color:#808080;
  font-size: 12px;
  text-align:center;
	
	}
	
.item_jogos_sipat{ width:133px !important; height: 155px;}
.item_jogos_sipat img{ border:none;}

.text_jogos_sipat{
	color:#2ab6cf;
	font-size:13px;
	font-weight:500;
	}



/* SIPAT */
.sipat_box{ width:260px; padding:10px 0px 20px 30px; margin-bottom:30px;}
.itens{ width:613px;}
.item{ width:120px; height:120px; float:left; margin-left:25px;}
.box_list_sipat{}
.box_list_sipat ul{ padding-left:40px;}
.box_list_sipat ul li{list-style-image:url(../images/icon_list.png); padding: 10px 10px 10px 9px; color:#0095b6; font-size:16px;}
.box_list_sipat ul li a{ font-size:16px; color:#808080; text-decoration:none; }
.box_list_sipat ul li a:hover{ color:#0095b6;}
.box_list_sipat ul li span{ color:#808080;}
.bg_sipat1{ background:#eff8fa; border-bottom: 1px solid #dae8ec; }
.bg_sipat2{background:#eaf4f7; border-bottom: 1px solid #dae8ec; }

.img_sipat{
  margin-top: 20px;
  margin-bottom: 20px;
}

/* SIPAT */
.boxes_bem_estar{ width:350px;}
.box_list_bem_estar{}
.box_list_bem_estar ul{ padding-left:40px;}
.box_list_bem_estar ul li{list-style-image:url(../images/icon_list.png); padding: 10px 10px 10px 9px; color:#0095b6; font-size:16px;}
.box_list_bem_estar ul li span{ color:#808080;}
.bg_sipat1{ background:#eff8fa; border-bottom: 1px solid #dae8ec; }
.bg_sipat2{background:#eaf4f7; border-bottom: 1px solid #dae8ec; }



/* CURSOS */
.caixa_border_cursos{ margin-top:10px; margin-left:18px;}
.caixa_border_cursos:last-child{ margin-top:0px; margin-left:18px;}
.cursos_sub{ margin-top:10px;}
.box_text_cursos{ width:725px; margin-right:15px;}

.imagem_cursos{ width:245px; height:164px; margin-top:10px;}



/* gestaoemqualidadedevida */

.boxlegenda{
	width:480px;
	margin-left:20px;
	margin-bottom: 58px;
	}
	
.text_legenda{
	color: #808080 !important;
	}

/* CONTATO */
.rede_contato{ width:48px !important; height:48px !important; }

.face_contato{width:48px !important; height:48px !important; background:url(../image/icon_face_contato.jpg) no-repeat 0 0 !important;}
.face_contato:hover{background:url(../image/icon_face_contato.jpg) no-repeat 0 -48px !important;}

.tw_contato{width:48px !important; height:48px !important; background:url(../image/icon_tw_contato.jpg) no-repeat 0 0 !important;}
.tw_contato:hover{background:url(../image/icon_tw_contato.jpg) no-repeat 0 -48px !important;}

.in_contato{width:48px !important; height:48px !important; background:url(../image/icon_in_contato.jpg) no-repeat 0 0 !important;}
.in_contato:hover{background:url(../image/icon_in_contato.jpg) no-repeat 0 -48px !important;}


.contato_form{ margin-top:20px; }
.contato_form_contato{padding-right:138px;}
.contato_form .title_contato{margin-bottom:25px; margin-top:15px }
.contato_form .title_contato p{ font-size:14px;color:#0363a7; }
.contato_form .contato_label {text-align: right; color: #0384a3; font-size: 13px; height: 15px; margin-top: 7px; padding-right: 5px; float: left; width: 62px;}
.text_contato_foto{
font-size: 21px;
font-weight: 700;
color: #008aae;
margin-top: -3px;
padding: 15px;}
.linha_lateral_contato{ background:url(../images/linha_contato.jpg) repeat-x; height:5px; margin-top:20px; margin-bottom:15px;}
.contato_text_lateral{ font-size:24px; color:#0384a3;}
.contato_text_lateral span{ color:#f9c757;}
.contato_form .contato_input_text {width: 383px; height: 25px; margin-top: 3px; padding-top: 0px; padding-left: 10px; background:#eaf4f7; border: 1px #dae8ec solid; margin-bottom:5px;}
.contato_form .contato_input_text_select{width: 393px; height: 25px; margin-top: 3px; padding-top: 0px; background: url(images/input_text_contato.jpg) no-repeat; border: none; margin-bottom:5px;}

.contato_form .contato_mensagem .mensagem { width: 380px; height: 159px; margin-top: 4px; padding-top: 10px; padding-left: 12px; background:#eaf4f7; margin-left: 0px; float: left; border: 1px #dae8ec solid; }
.contato_form .contato_input_msg {  border: medium none; height: 145px; margin-top: 0; padding-left: 5px; padding-right: 0; padding-top: 3px; width: 368px; background: #eaf4f7;}
.checkbox{ padding-top:10px; margin-bottom:10px; margin-top:4px;}
.checkbox span{ font-size:12px; font-family:Verdana, Geneva, sans-serif; color:#666666;}

.contato_botoes { 
width: 200px;
margin-left: 278px;
margin-top: 10px;
}

.contato_apagar{
	padding:18px;
border: none;
color: #fff;
cursor: pointer;
font-weight: bold;
text-align: center;
font-size:14px;
background:url(../images/btn_contato.jpg) no-repeat center center;}

.contato_enviar{
padding:18px;
border: none;
color: #fff;
cursor: pointer;
font-weight: bold;
text-align: center;
font-size:14px;
background:url(../images/btn_contato.jpg) no-repeat center center;
}

.contato label.error {
	color: #c60505;
	font-size:11px;
	margin:0;
	padding:0;
	display:block;
	width:400px;
	text-align:left;
	margin-top:4px;
	margin-left:32px;
}

/*#mensagem {font-size:10px; color:#ce1e4c; float:right; margin-top:10px; margin-right:110px;}*/
.form_msg {display: none;
background: #fce4ad;
border: solid 1px #f9c756;
font-size: 11px;
color: #0095b6;
text-align: center;
padding-top: 7px;
padding-bottom: 8px;
width:200px;
margin-top:10px;
margin-left: 70px;
margin-bottom:10px;}
.form_msg_home{font-size: 10px; color: #ce1e4c; float: right; margin-top: 35px; width: 150px;}
.contato_right{float:left; width:75px; padding-top:63px; padding-left:20px;}

/* ----------------------------------------------------------------------------------------------*/



/*FOOTER*/
.faixa_footer{ border-top:solid 2px #fff; border-bottom:solid 2px #fff; height:5px; background:#ebc560;}
.footer_top{
	background: url(../images/rodape-facebook.jpg) no-repeat center center;
	height: 320px;
	width: 100%;
}

.footer_inner{
	  width: 1030px;
	  margin: 0 auto;
	  text-align: center;
	  padding-top: 110px;
}
.footer{ background:#278aab; padding-bottom:30px}
.footer_wrap{ width:1030px; margin:0 auto;}

.facebook{ padding-top:20px; /*border-bottom:1px #fff solid*/; width:513px;}
.text_face{ width:205px; margin-top:16px;}
.img_face{ width:100px;}
.btn_like{ margin-top:20px;}


.mapa_footer{padding-top: 20px;
width: 351px;
margin-left: 120px;}
.text_mapa{ width:242px; margin-top:4px;}
.img_mapa{ width:100px; margin-top: 7px;}



.float_title_footer{ width:410px; }
.float_title_footer a{ text-decoration:none;}
.float_title_footer img{ margin-top:-9px!important;}
.mapa_site{ width:367px; margin-top:30px;}
.mapa_inner{width:168px; margin-right:15px;}
.mapa_inner ul{ margin-left:-31px;}
.mapa_inner ul li{ list-style:inside; line-height:22px; list-style-image:url(../images/icon_mapa.jpg); width:193px;}
.mapa_inner ul li a{ color:#fff; font-size:12px;}
.local_footer{width:663px; margin-top:30px;}
.local_title{ color:#fff; text-transform:uppercase; font-weight:600; font-size:20px;}
.local_title img{ float:left; margin-top:-15px; margin-right:10px;}
.localmap{ width:285px; margin-top:20px;}
.local_text{ width: 353px;
/*background: #2384a5;*/
margin-top: 20px;
font-size: 14px;
color: #fff;
height: 92px;
padding: 7px;
line-height: 23px;
padding-top: 22px;}	
.local_text span{ font-size:11px; font-weight:700;}
.faixa_move{ width:100%; background:#008AAE;  height:40px;}
.wrap_move{ width:1030px; margin:0 auto;}
.logo_move{ text-align:right; padding-top:10px;}

.footer_tel{
	background: url(../images/bg_footer_tel.png) no-repeat 26px center;
    height: 39px;
    width: 100%;
    margin-bottom: 10px;
    padding-top: 17px;
}